.carrousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 1024px){
        flex-direction: row;
    }

    .c-image{
        height: 320px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        animation: imgShow 0.6s;
        transition: all 0.2s;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        @media screen and (min-width: 1024px){
            height: 520px;
            width: 60%;
            max-width: 810px;
        }
    
        &::-webkit-scrollbar{
            display: none;
        }

        img{
            z-index: 1;
            user-select: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }
    .c-txt{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        background-color: $white;
        padding: 50px 30px;
        @media screen and (min-width: 1024px){
            width: 45%;
            height: 520px;
            padding: 0 7%;
        }

        .arrows-container{
            width: max-content;
            height: 43px;
            position: absolute;
            top: -43px;
            right: 0;
            z-index: 10;
            .arrows{
                background-color: $black;
                padding: 11px;
                &:hover{
                    background-color: $very-dark-gray;
                }
                &:nth-child(1){
                    margin-right: -1px;
                }
                @media screen and (min-width: 1024px){
                    font-size: 70px;
                    padding: 19px;
                }
                @include font(43px, 500, $white)
            }
            @media screen and (min-width: 1024px){
                right: calc(100% );
                top: calc(100% - 70px);

            }
        }

        h2{
            opacity: 0;
            @include font(35px, 700, $black)
            
            
        }
        
        p{
            opacity: 0;
            line-height: 19px;
            @include font (16px, 500, $dark-gray)
        }

        h2.fade-in {
            animation-delay: 0.05s;
        }
        
        p.fade-in {
            animation-delay: 0.2s;
        }



        button{
            margin-top: 20px;
            border: none;
            outline: none;
            background-color: transparent;
            text-transform: uppercase;
            letter-spacing: 10px;
            display: flex;
            align-items: center;
            gap: 20px;
            transition: all 0.2s;
            
            &:hover{ 
                gap: 35px;
            }
            &:hover > span{
                text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4);
                color: $very-dark-gray;    
            }
            @include font(17px, 600, $black)

        }
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.35s linear forwards;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imgShow {
    0%{
        transform: translateX(-100%);
    }
}
