footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    gap: 30px;
    background-color: lighten($color: $dark-gray, $amount: 30);

    .footer-info{
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: left;
        grid-row-gap: 30px;
        grid-column-gap: 80px;
        @media screen and (min-width: 1024px){
            display: flex;
        }

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 7px;
            @media screen and (min-width: 1024px){
                gap: 14px;
            }
            
            li{

                cursor: pointer;

                &:nth-child(1){
                    margin-top: 15px;
                }
                &:hover{
                    color: $dark-gray;
                    
                }
                
                @include font(16px, 400, $very-dark-gray)
            }
            @include font(16px, 600, $black)
        }
    }

    .social-icons{
        width: 100%;
        padding-top: 20px;
        border-top: 1px solid $dark-gray;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: 1024px){
            width: 40%;
            padding-top: 30px;
            gap: 35px;
        }

        li{
            cursor: pointer;

        }

        li img{
            filter: invert(75%);
        }
    }
    @include font(16px, 500, $black)
}

