.menu{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    gap: calc(50% - 48px);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo{
    order: 2;
    user-select: none;
    animation: showLogo 0.4s;
    @include font(30px, 500, $white)
}

#menu-h{
    animation: showLogo 0.5s;
}

.menu-icon{
    cursor: pointer;
    &:active{
        transform: scale(0.95);
    }
}

.menu-container{
    list-style: none;
    display: none;
    background-color: $white;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;
    right: 0;
    padding: 0 20px;
    animation: showMenu 0.2s;

    ul{
        width: 80%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li:hover{
            text-decoration: underline;
            text-underline-offset: 7px;
            text-decoration-thickness: 2px;
        }
    }
    @include font(17px, 600, $black)
}

@keyframes showMenu {
    0%{
        transform: translateX(-100%);
        border-radius: 0 999px 999px 0;
    }
}

@keyframes showLogo {
    0%{
        transform: translateY(-100%);
    }
}