.shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 4px;
    gap: 20px;

    h2{
        text-align: center;

        @media screen and (min-width: 1024px){
            font-size: 35px;
            width: 45%;
            line-height: 45px;
        }

        @include font(25px, 700, $black)
    }

    .shop-images{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        @media screen and (min-width: 1024px){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;   
        }

        picture{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover .overlay{
                opacity: 1;
            }

            &:hover .overlay .add-cart-button{
                animation: buttonUp .2s .15s forwards ease-in;
            }
            &:hover .overlay .add-cart-button .arrow{
                animation: arrowMove .4s infinite alternate cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }

            img{
                width: 100%;
                object-fit: cover;
                aspect-ratio: 16/9;
                @media screen and (min-width: 1024px){
                    aspect-ratio: initial;
                }
            }

            .overlay{
                display: none;
                opacity: 0;
                padding-bottom: 15px;
                background-image: linear-gradient(to bottom, transparent 32%, $white);
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                height: 100%;
                width: 100%;
                transition: opacity 0.35s ease;

                .add-cart-button{
                    width: 200px;
                    cursor: pointer;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-top: 6px;
                    gap: 10px;
                    padding: 8px;
                    &:hover{
                        color: $very-dark-gray;
                    }

                    &:active{
                        transform: scale(0.96);
                    }
                    @include font(25px, 400, $black)
                }
                
                &:hover .cart{
                    animation: buttonUp 0.1s forwards ease-in;
                }
            }
        }

        #img-1{
            order: 2;
            @media screen and (min-width: 1024px){
                width: 32%;
                order: 1;
                img{
                    width: 100%;
                }
            }
        }

        .column{
            order: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;
            @media screen and (min-width: 1024px){
                order: 2;
                gap: 0.35vw;
                width: 34%;
                img{
                    width: 100%;
                }
            }
        }

        #img-4{
            display: none;
            @media screen and (min-width: 1024px){
                display: initial;
                width: 33%;
                order: 3;
                img{
                    width: 100%;
                }
            }
        }
    }
    button.all-products{
        border: 1px solid $black;
        font-size: 15px;
        letter-spacing: 7px;
        padding: 20px 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    
        &:hover{
            gap: 20px;
            background-color: rgba(0, 0, 0, 0.015);
        }
        
        .arrow{
            animation: arrowMove .4s infinite alternate cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    
        @media screen and (min-width: 1024px){
            font-size: 19px;
            margin-top: 50px;
            margin-bottom: 80px;
        }
    }

}
@keyframes buttonUp {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
    }
}

@keyframes arrowMove{
    100%{
        transform: translateX(7px);
    }
}

