.shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 4px;
    gap: 20px;

    h2{
        text-align: center;
        @include font(25px, 700, $black)
    }

    .shop-images{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        picture{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover .overlay{
                opacity: 1;
            }

            img{
                object-fit: cover;
                aspect-ratio: 16/9;
            }

            .overlay{
                opacity: 0;
                padding-bottom: 15px;
                background-image: linear-gradient(to bottom, transparent 40%, $white);
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                height: 100%;
                width: 100%;
                transition: opacity 0.35s ease;
            }
        }

        #img-1{
            order: 2;
        }

        .column{
            order: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        #img-4{
            display: none;
        }


    }


}