.static{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $white;

    @media screen and (min-width: 1024px){
        flex-direction: row;
    }

    .dark-img, .light-img{
        width: 100%;
        height: 266px;
        object-fit: cover;  
        @media screen and (min-width: 1024px){
            max-width: 30%;
        }
    }

    .our-furniture{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 30px;

        @media screen and (min-width: 1024px){
            height: 266px;
        }

        h3{
            text-transform: uppercase;
            letter-spacing: 5px;
            @include font (15px, 700, $black)
        }

        p{
            line-height: 19px;
            @include font (16px, 500, $dark-gray)
        }
    }


}