$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);


@mixin font($size, $weight, $color){
    font-weight: $weight;
    font-size: $size;
    color: $color
}

@import 'menu', 'carrousel', 'static', 'footer', 'shop';

body{
    background-color: $white;
}

.app{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

button.shop-button{
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.2s;
    
    &:hover{ 
        gap: 35px;
        cursor: pointer;
    }
    &:hover > span{
        text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4);
        color: $very-dark-gray;    
    }
    @include font(17px, 600, $black)

}

button.all-products{
    border: 1px solid $black;
    font-size: 15px;
    letter-spacing: 7px;
    padding: 20px 25px;
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover{
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.015);
    }
    
    img{
        animation: arrowMove .4s infinite alternate cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    @media screen and (min-width: 1024px){
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@keyframes arrowMove{
    100%{
        transform: translateX(7px);
    }
}