.menu {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  gap: calc(50% - 48px);
  position: absolute;
  top: 0;
  z-index: 1000;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 50%;
    gap: 40px;
    height: 110px;
    padding-left: 55px;
    max-width: 650px;
  }
}

.logo {
  order: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: showLogo 0.4s;
  font-weight: 500;
  font-size: 30px;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 33px;
  }
}

#menu-h {
  animation: showLogo 0.5s;
  order: 1;
}
@media screen and (min-width: 1024px) {
  #menu-h {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #menu-c {
    display: none;
  }
}

.menu-icon {
  cursor: pointer;
}
.menu-icon:active {
  transform: scale(0.95);
}

.menu-container {
  list-style: none;
  display: none;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;
  right: 0;
  padding: 0 20px;
  animation: showMenu 0.2s;
  font-weight: 500;
  font-size: 17px;
  color: hsl(0, 0%, 0%);
}
@media screen and (min-width: 1024px) {
  .menu-container {
    display: flex;
    position: static;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    order: 2;
  }
}
.menu-container ul {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .menu-container ul {
    width: 70%;
  }
}
.menu-container ul li:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

@keyframes showMenu {
  0% {
    transform: translateX(-100%);
    border-radius: 0 999px 999px 0;
  }
}
@keyframes showLogo {
  0% {
    transform: translateY(-100%);
  }
}
.carrousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .carrousel {
    flex-direction: row;
  }
}
.carrousel .c-image {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: imgShow 0.6s;
  transition: all 0.2s;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1024px) {
  .carrousel .c-image {
    height: 520px;
    width: 60%;
    max-width: 810px;
  }
}
.carrousel .c-image::-webkit-scrollbar {
  display: none;
}
.carrousel .c-image img {
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}
.carrousel .c-txt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 50px 30px;
}
@media screen and (min-width: 1024px) {
  .carrousel .c-txt {
    width: 45%;
    height: 520px;
    padding: 0 7%;
  }
}
.carrousel .c-txt .arrows-container {
  width: -moz-max-content;
  width: max-content;
  height: 43px;
  position: absolute;
  top: -43px;
  right: 0;
  z-index: 10;
}
.carrousel .c-txt .arrows-container .arrows {
  background-color: hsl(0, 0%, 0%);
  padding: 11px;
  font-weight: 500;
  font-size: 43px;
  color: hsl(0, 0%, 100%);
}
.carrousel .c-txt .arrows-container .arrows:hover {
  background-color: hsl(0, 0%, 27%);
}
.carrousel .c-txt .arrows-container .arrows:nth-child(1) {
  margin-right: -1px;
}
@media screen and (min-width: 1024px) {
  .carrousel .c-txt .arrows-container .arrows {
    font-size: 70px;
    padding: 19px;
  }
}
@media screen and (min-width: 1024px) {
  .carrousel .c-txt .arrows-container {
    right: 100%;
    top: calc(100% - 70px);
  }
}
.carrousel .c-txt h2 {
  opacity: 0;
  font-weight: 700;
  font-size: 35px;
  color: hsl(0, 0%, 0%);
}
.carrousel .c-txt p {
  opacity: 0;
  line-height: 19px;
  font-weight: 500;
  font-size: 16px;
  color: hsl(0, 0%, 63%);
}
.carrousel .c-txt h2.fade-in {
  animation-delay: 0.05s;
}
.carrousel .c-txt p.fade-in {
  animation-delay: 0.2s;
}
.carrousel .c-txt button {
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.2s;
  font-weight: 600;
  font-size: 17px;
  color: hsl(0, 0%, 0%);
}
.carrousel .c-txt button:hover {
  gap: 35px;
}
.carrousel .c-txt button:hover > span {
  text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4);
  color: hsl(0, 0%, 27%);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.35s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imgShow {
  0% {
    transform: translateX(-100%);
  }
}
.static {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .static {
    flex-direction: row;
  }
}
.static .dark-img, .static .light-img {
  width: 100%;
  height: 266px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .static .dark-img, .static .light-img {
    max-width: 30%;
  }
}
.static .our-furniture {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 30px;
}
@media screen and (min-width: 1024px) {
  .static .our-furniture {
    height: 266px;
  }
}
.static .our-furniture h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15px;
  color: hsl(0, 0%, 0%);
}
.static .our-furniture p {
  line-height: 19px;
  font-weight: 500;
  font-size: 16px;
  color: hsl(0, 0%, 63%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 30px;
  background-color: hsl(0, 0%, 0%);
  font-weight: 500;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
}
footer .footer-list, footer .social-icons {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer .footer-list li, footer .social-icons li {
  cursor: pointer;
}
footer .footer-list li:hover {
  color: hsl(0, 0%, 63%);
}
footer .social-icons {
  flex-direction: row;
  gap: 20px;
}

body {
  background-color: rgb(20, 20, 20);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}/*# sourceMappingURL=home.css.map */